{% extends "game/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}

    <!-- Table with panel -->
    <div class="card card-cascade narrower">

        <!--Card image-->
        <div
        class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
        style="height: 100px;">
    
        <div style="margin-left: auto; margin-right: auto;">
            <h1 class="white-text mx-3" style="margin-top: 22px;">"{{ myteamname }}"</h1>
            <div style="width: 130px; margin-left: auto; margin-right: auto;"><a href="{% url 'editname' %}" method="POST"><p class="white-text mx-3" style="font-size: 12px;">edit team name</p></a></div>
        </div>
        </div>
        <!--/Card image-->
    
        <div class="px-4" style="margin-left: auto; margin-right: auto; width: 80%;">
        
        
        
            <div class="table-wrapper">
                <!--Table-->
                <table class="table table-hover mb-0">
        
                <!--Table head-->
                <thead>
                    <tr>
                    <th class="th-lg" style="width: 20%;">
                        <h6>Player Name
                        <i class=""></i>
                        </h6>
                    </th>
                    <th style="width: 40%;"></th>
                    <th class="th-lg" style="width: 20%;">
                        <h6>Score
                        <i class=""></i>
                        </h6>
                    </th>
                    
                    
                <!--Table head-->

                <!--Table body-->
                    <tbody>

                        <tr>  
                            {% for qb in QB %}  
                            
                            <td> <h4>{{ qb.name }}</h4>
                            </td>
                    
                            <td><a href="{% url 'delete_QB' qb.pk %}" style="margin-left: 10px;" ><button type="button" class="btn btn-outline-danger btn-sm m-0 waves-effect">Remove</button></a></td>
                    
                            <td>
                                <h4>{{ QBscore }}</h4>
                            </td>
                            {% endfor %}
                        </tr>
                        
                    
                        <tr>  
                            {% for rb in RB %}  
                            
                            <td> <h4>{{ rb.name }}</h4>
                            </td> 
                    
                            <td><a href="{% url 'delete_RB' rb.pk %}" style="margin-left: 10px;" ><button type="button" class="btn btn-outline-danger btn-sm m-0 waves-effect">Remove</button></a></td>
                    
                            <td>
                                <h4>{{ RBscore }}</h4>
                            </td>
                            {% endfor %}
                        </tr>
                        
                        <tr>  
                            {% for wr in WR %}  
                            
                            <td> <h4>{{ wr.name }}</h4>   
                            </td> 
                    
                            <td><a href="{% url 'delete_WR' wr.pk %}" style="margin-left: 10px;"><button type="button" class="btn btn-outline-danger btn-sm m-0 waves-effect">Remove</button></a></td>
                    
                            <td>
                                <h4>{{ WRscore }}</h4>
                            </td>
                            {% endfor %}
                        </tr>
                        
                        <tr>  
                            {% for te in TE %}  
                            
                            <td > <h4>{{ te.name }}</h4>  
                            </td> 
                    
                            <td>
                                <a href="{% url 'delete_TE' te.pk %}" style="margin-left: 10px;"><button type="button" class="btn btn-outline-danger btn-sm m-0 waves-effect">Remove</button></a></td>  
                            </td>
                    
                            <td>
                                <h4>{{ TEscore }}</h4>
                            </td>
                            {% endfor %}
                        </tr>
                        
                    
                        <tr>  
                            {% for k in K %}  
                            
                            <td > <h4>{{ k.name }}</h4>  
                    
                            </td> 
                    
                            <td>
                                <a href="{% url 'delete_K' k.pk %}" style="margin-left: 10px;"><button type="button" class="btn btn-outline-danger btn-sm m-0 waves-effect">Remove</button></a></td>  
                            </td>
                    
                            <td>
                                <h4>{{ Kscore }}</h4>
                            </td>
                            {% endfor %}
                        </tr>
                    
                        <tr>
                            <td></td>
                            <td></td>
                            <td> <h3>Total Score: {{ totalscore }}</h3></td>
                    
                    
                        </tr>
                
                    
                </tbody>
                <!--Table body-->
                </table>
                <!--Table-->
            </div>
    
        
    
    </div>

    {% endif %}

{% endblock %}